/***************************
Common
****************************/

body{
    font-family: 'monospace',sans-serif;
    }
    .font-primary{
        color: rgb(4, 18, 53);
    }
    .title-icon{
        font-size: x-large;
        font-weight: bold;
    }

/*************************
About 
**************************/

#about{
    margin: 60px auto;
    max-width: 500px;
    text-align: center;
}
#about img {

}
#about .name{
    font-size: 30px;

}
#about .vocation{
    font-size: 25px;
    color:darkblue;
    margin-bottom: 10px;

}
#about .skills{
    font-size: 17px;
    color: darkslateblue;
    margin-bottom: 10px;
}
#about .email{
    margin-top: 14px;
    font-size: 20px;
    color: darkblue;
}
#about .icons {
    margin-top: 25px;
    font-size: large;
}
#about .icons a {
    font-size: 40px;
    color: black;
}